header {
  display: flex; /* aligns all child elements (flex items) in a row */
  flex: 1;
}

.row {
  display: flex; /* aligns all child elements (flex items) in a row */
  flex: 1;
  margin-left: 24px;
  margin-right: 24px;
}

.cell {
  flex: 1; /* distributes space on the line equally among items */
  font-family: "AvenirLTStd-Book";
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.001em;
  color: #000000;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  padding: 24px;
}

.firstCell {
  flex: 1; /* distributes space on the line equally among items */
  font-family: "AvenirLTStd-Book";
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.001em;
  color: #000000;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  padding: 24px;
  padding-left: 0px;
}

@media only screen and (max-width: 700px) {
  .row {
    display: flex; /* aligns all child elements (flex items) in a row */
    flex: 1;
    margin-left: 16px;
    margin-right: 16px;
  }

  .firstCell {
    flex: 1; /* distributes space on the line equally among items */
    font-family: "AvenirLTStd-Book";
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #000000;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
  }

  .cell {
    flex: 1; /* distributes space on the line equally among items */
    font-family: "AvenirLTStd-Book";
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #000000;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .noDivider {
    border-bottom: 0px;
  }

  .icon {
    text-align: left;
  }

}

.iconCell {
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
}

.noDivider {
  border-bottom: 0px;
}
