header {
  display: flex; /* aligns all child elements (flex items) in a row */
  flex: 1;
}

.row {
  display: flex; /* aligns all child elements (flex items) in a row */
  flex: 1;
  margin-left: 24px;
  margin-right: 24px;
}

.col {
  flex: 1; /* distributes space on the line equally among items */
  font-family: "AvenirLTStd-Heavy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  width: 235px;
  background: #f7f7f7;
  padding: 24px;
  text-align: left;
}

.cell {
  flex: 1; /* distributes space on the line equally among items */
  font-family: "AvenirLTStd-Book";
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.001em;
  color: #000000;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  padding: 24px;
}

.firstCell {
  flex: 1; /* distributes space on the line equally among items */
  font-family: "AvenirLTStd-Book";
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.001em;
  color: #000000;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  padding: 24px;
  padding-left: 0px;
}

.noHeader {
  background: #f7f7f7;
  padding: 24px;
  width: 8px;
}

.iconCell {
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
}
