
.selected-outer-circle {
    background: #5c50bb;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: 24px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    /* 
     Child elements with absolute positioning will be 
     positioned relative to this div 
    */
  }
  .selected-inner-circle {
    position: absolute;
    background: #f7f7f7;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    /*
     Put top edge and left edge in the center
    */
    top: 50%;
    left: 50%;
    margin: -8px 0px 0px -8px;
    /* 
     Offset the position correctly with
     minus half of the width and minus half of the height 
    */
  }
  
  .outer-circle {
    border: 1px solid #a8a8a8;
    background: #ffffff;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: 24px;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    /* 
     Child elements with absolute positioning will be 
     positioned relative to this div 
    */
  }
  