.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 16px 0px 0px 0px;
}

th.header {
  font-family: "AvenirLTStd-Heavy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  width: 235px;
  background: #f7f7f7;
  padding: 24px;
  text-align: left;
}

th.empty {
  width: 56px;
  background: #f7f7f7;
}

td {
  font-family: "AvenirLTStd-Book";
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.001em;
  color: #000000;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  padding: 24px;
}

td.empty {
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
}

.arrow {
  margin-left: 30px;
}

.tick {
  margin-left: 8px;
  margin-top: 10px;
}

.selected-outer-checkbox {
  background: #5c50bb;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  margin: 24px;
  margin-right: 0;
  position: relative;
  /* 
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
}

.selected-outer-circle {
  background: #5c50bb;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 24px;
  margin-right: 0px;
  position: relative;
  /* 
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
}
.selected-inner-circle {
  position: absolute;
  background: #f7f7f7;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  /*
   Put top edge and left edge in the center
  */
  top: 50%;
  left: 50%;
  margin: -8px 0px 0px -8px;
  /* 
   Offset the position correctly with
   minus half of the width and minus half of the height 
  */
}

.outer-circle {
  border: 1px solid #a8a8a8;
  background: #ffffff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin: 24px;
  margin-right: 0px;
  position: relative;
  /* 
   Child elements with absolute positioning will be 
   positioned relative to this div 
  */
}

header,
.row {
  display: flex; /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1; /* distributes space on the line equally among items */
  font-family: "AvenirLTStd-Heavy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  width: 235px;
  background: #f7f7f7;
  padding: 24px;
  text-align: left;
}

.cell {
  flex: 1; /* distributes space on the line equally among items */
  font-family: "AvenirLTStd-Book";
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.001em;
  color: #000000;
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
  padding: 24px;
}

.noHeader {
  background: #f7f7f7;
  padding: 24px;
  width: 8px;
}

.iconCell {
  border-bottom: 1px solid #e1e1e1;
  text-align: left;
}
